* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    border: 2px solid #999;
}

/* Header */
.header {
    height: 80px;
    background: #33ff33;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin: 15px;
}

/* Middle section */
.middle {
    display: flex;
    margin: 15px;
}

/* Sidebar */
.sidebar {
    width: 20%;
    background: #33ff33;
    text-align: center;
    font-weight: bold;
    padding-top: 100px;
    margin-right: 10px;
}

/* Content area */
.content-area {
    width: 80%;
}

/* Content 1 */
.content1 {
    height: 120px;
    background: #33ff33;
    text-align: center;
    line-height: 120px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Content 2 & 3 row */
.content-row {
    display: flex;
}

/* Content 2 */
.content2 {
    width: 50%;
    height: 120px;
    background: #33ff33;
    text-align: center;
    line-height: 120px;
    font-weight: bold;
    margin-right: 10px;
}

/* Content 3 */
.content3 {
    width: 50%;
    height: 120px;
    background: #33ff33;
    text-align: center;
    line-height: 120px;
    font-weight: bold;
}

/* Footer */
.footer {
    height: 70px;
    background: #33ff33;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    margin: 10px;
}
