*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #eee;
    padding: 20px;
}

.invoice {
    width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
}

.top-line {
    height: 10px;
    background: #e05a2a;
    margin: 10px 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #f3f3f3;
    padding: 10px;
}
.left{
    display: flex;
    gap: 30px;
}
.logo {
    width: 60px;
    height: 60px;
    background: gray;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.invoice-title {
    text-align: right;
}
.invoice-title hr{
    border: none;
    border-bottom: 1px solid #aaa;
    margin: 5px 0;
}

.terms {
    text-align: right;
    font-size: 12px;
}

.address {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.address h4 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background: #e45b2c;
    color: white;
    padding: 8px;
}

td {
    border: 1px solid #ccc;
    height: 30px;
    padding: 5px;
}
.alt{
    background: #f5f5f5;
}
.bottom {
    display: flex;
    justify-content: space-between;
}

.amounts {
    width: 300px;
    padding: 2px;
    background: #fff;          /* remove zigzag */
    border-bottom: 1px solid black;  /* straight line */
    font-weight: bold;
}

.amounts p {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.balance-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.balance-text {
    font-weight: bold;
    margin-right: 5px;
}

.balance-box {
    width: 70px;
    height: 30px;
    background: #f2dede;
    display: flex;
    align-items: center;
    justify-content: center;
}